<a href="https://colab.research.google.com/github/joshimohitm9/Python-Basics/blob/main/python_learn_part_4_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic Programming Questions**

In [1]:
# progarm for even or odd numer
a= int(input("enter a number :"))
if(a%2==0):
  print("even number")
else:
  print("odd number")

enter a number :45
odd number

In [2]:
a=int(input("enter a number :"))
i=1
c=0
while(i<=a):
  c=c+i
  print(c)
  i=i+1
# sum of natural numer usingg while loop

enter a number :10
1
3
6
10
15
21
28
36
45
55

In [3]:
n= int(input("enter a number :"))
a=1
for i in range(1,n+1):
  a=a*i
print("factorial is ",a)

enter a number :5
factorial is  120

In [4]:
n= int(input("enter a number :"))
a=1
for i in range(1,n+1):
  a=a*i
i=n
while(i>=1):
  print(f"{i}",end=' X ')
  i=i-1

print("factorial is ",a)

enter a number :5
5 X 4 X 3 X 2 X 1 X factorial is  120

In [5]:
# Pattern Questions

for i in range(4):
  print("*" *i)

*
**
***

In [6]:
for i in range(4):
  print("*" *i)
for j in range(4,0,-1):
    print("*" *j)

*
**
***
****
***
**
*

In [7]:
n=3
for i in range(3):
  print(" "*(n-i-1),end="")
  print("*" * (2*i+1),end="")
  print(" "*(n-i-1))

  *
 ***
*****

In [8]:
m=5
for j in range(5,2,-1):
  print(" " *(m-j),end="")
  print("*" *(2*j-m),end="")
  print(" " *(m-j+1))

*****
 ***
  *

In [9]:
n=3
for i in range(3):
  print(" "*(n-i-1),end="")
  print("*" * (2*i+1),end="")
  print(" "*(n-i-1))
m=5
for j in range(5,2,-1):
  print(" " *(m-j),end="")
  print("*" *(2*j-m),end="")
  print(" " *(m-j+1))

  *
 ***
*****
*****
 ***
  *

In [10]:
for i in range(1):
  print("* *",end=" ")
  print("*")
  print("*  ",end=" ")
  print("*")
  print("* *",end=" ")
  print("*")

* * *
*   *
* * *

In [11]:
n=5
for i in range(3):
  print("*" *(n-i-2))

***
**
*

**Tables**

In [12]:
a=int(input("Enter :-"))
for i in range(1,11):
 print(a,"X",i,"=",a*i)

Enter :-3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [13]:
# a= int(input("enter a number:"))

a=5
for i in range(10,0,-1):
  print(f"{a} X {i} = {a*i}")

5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

**Function**

In [14]:
def ger(a=0,b=0,c=0,d=0):
 if(a>b and a>c and a>d):
   print(f"biggest number is {a}")
 elif(b>a and b>c and c>d):
   print(f"biggest number is {b}")
 elif(c>a and c>b and c>d):
   print(f"biggest number is {c}")
 else:
   print(f"biggest number is {d}")

ger(1,2,3,4)

biggest number is 4

In [15]:
def fuc(Celsius):
  Fahrenheit= Celsius* 9/5 + 32
  print("Fahrenheit :",Fahrenheit)
fuc(45)

Fahrenheit : 113.0

In [16]:
def sum(n):
  if n==0:
      return 0
  i=n+sum(n-1)
  return i

sum(55)

1540