<a href="https://colab.research.google.com/github/joshimohitm9/Python-Basics/blob/main/python_learn_part_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**list**

In [1]:
# In Python, a list is a collection of items that are ordered and mutable (changeable).
a=[1,2,33,4,24,9,23434,1,2,41,24,11,134,98,2]
print(a[1:8:2])

[2, 4, 9, 1]

In [2]:
# Slicing a list
print(a[::4],"----Slicing a list")
print(a[8],"----is at the 8th place in the list")
print(a[-8:],"----count the 8th digit from last consider as -8th value")
print(a[1::8],"---- printing values from 1 to last with thw gap of 8 ")

[1, 24, 2, 134] ----Slicing a list
2 ----is at the 8th place in the list
[1, 2, 41, 24, 11, 134, 98, 2] ----count the 8th digit from last consider as -8th value
[2, 41] ---- printing values from 1 to last with thw gap of 8

In [3]:
print(a)

[1, 2, 33, 4, 24, 9, 23434, 1, 2, 41, 24, 11, 134, 98, 2]

In [4]:
# the python lists are mutable
a[6]=76
print(a)

[1, 2, 33, 4, 24, 9, 76, 1, 2, 41, 24, 11, 134, 98, 2]

In [5]:
a=[1,6,7,8,2,3,4,5,9]
print(a)
a.sort() # sort in incresing order
print(a)
a.reverse() #reverse a list
print(a)
a.append(2) #adding a number at list
print(a)
a.remove(3) #remove the number from list
print(a)
a.insert(2,22) #inserting a number at index no 2
print(a)
a.pop(2) #pop from indx no 2
print(a)
a.clear() #clear the all list
print(a)

[1, 6, 7, 8, 2, 3, 4, 5, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 2]
[9, 8, 7, 6, 5, 4, 2, 1, 2]
[9, 8, 22, 7, 6, 5, 4, 2, 1, 2]
[9, 8, 7, 6, 5, 4, 2, 1, 2]
[]

**tuples**

In [6]:
a=(1,2,3,4,5,6,7,8,7,6,4,35,3,4,35,23,1,7,7,6)
# here is the representation of the tuple

In [7]:
print(a)
print(a.count(7)) # counting the number of 7 occuring in the tuple
a=a.count(35)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 7, 6, 4, 35, 3, 4, 35, 23, 1, 7, 7, 6)
4
2

In [25]:
a=(2,4,5,6,4,2,3,536,4557,4,53,232,3,4)
print(a.index(3))

6

In [9]:
t=()#empy tuple
t=(1,)#single elmenet tupple
print(type(t))
len(a)

<class 'tuple'>

14

In [27]:
# a[0]=9
# á¹¬uples are immutable

**practice set**

In [15]:
# creating a list with different fruit items

a=[]
b=input("enter fruits  name:")
a.append(b)
c=input("enter fruits name:")
a.append(c)
d=input("enter fruits name:")
a.append(d)
e=input("enter fruits name:")
a.append(e)
f=input("enter fruits name:")
a.append(f)
g=input("enter fruits name:")
a.append(g)
h=input("enter fruits name:")
a.append(h)
i=input("enter fruits name:")
a.append(i)
print(a)

enter fruits  name:Apple
enter fruits name:Banana
enter fruits name:Kiwi
enter fruits name:Litchi
enter fruits name:Orange
enter fruits name:Papaya
enter fruits name:Mango
enter fruits name:Grapes
['Apple', 'Banana', 'Kiwi', 'Litchi', 'Orange', 'Papaya', 'Mango', 'Grapes']

In [17]:
a.sort()
print(a)

['Apple', 'Banana', 'Grapes', 'Kiwi', 'Litchi', 'Mango', 'Orange', 'Papaya']

In [11]:
# created a list with fruits name

try:
  x=[]
  a,b,c,d=input("enter fruits  name:"),input("enter fruits  name:"),input("enter fruits  name:"),input("enter fruits  name:")
  for i in a,b,c,d:
     x.append(i)
  print(x)
except:
  print("coorect the code")

enter fruits  name:Mango
enter fruits  name:Apple
enter fruits  name:Banana
enter fruits  name:Kiwi
['Mango', 'Apple', 'Banana', 'Kiwi']

In [18]:
x.sort()
print(x)

['Apple', 'Banana', 'Kiwi', 'Mango']

In [19]:
a=[34,98,76,5,9,75]
a.sort()
print(a)
a.append(65)
print(a)
a.insert(6,66)
print(a)

[5, 9, 34, 75, 76, 98]
[5, 9, 34, 75, 76, 98, 65]
[5, 9, 34, 75, 76, 98, 66, 65]

In [20]:
print(a[0]+a[1]+a[2]+a[3]+a[4]+a[5]+a[6]+a[7])

428

In [21]:
a=(7,0,8,0,0,9)
print(a)

(7, 0, 8, 0, 0, 9)

In [22]:
print(a)

(7, 0, 8, 0, 0, 9)

In [23]:
A=a.count(0)
print(A)

3