<a href="https://colab.research.google.com/github/joshimohitm9/Python-Basics/blob/main/python_learn_part_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**dictionary**

In [1]:
# a dictionary is a collection of key-value pairs

# Creating a dictionary
a={"keys":"values","name":"mohit joshi","data":"piece of information ","greeting":"heloo there how are you "}

In [2]:
# show all the key and value in the dictionary
a.items()

dict_items([('keys', 'values'), ('name', 'mohit joshi'), ('data', 'piece of information '), ('greeting', 'heloo there how are you ')])

In [3]:
# show all the keys
a.keys()

dict_keys(['keys', 'name', 'data', 'greeting'])

In [4]:
# show all the value pair related to the keys
a.values()

dict_values(['values', 'mohit joshi', 'piece of information ', 'heloo there how are you '])

In [5]:
print(a)

{'keys': 'values', 'name': 'mohit joshi', 'data': 'piece of information ', 'greeting': 'heloo there how are you '}

In [6]:
# show you the value against the key
a.get("keys")

'values'

In [7]:
a.get("greeting")

'heloo there how are you '

In [8]:
b={"age":"age is just a number","dict":"combination of key valupe pairs"}
a.update(b)
print(a)

{'keys': 'values', 'name': 'mohit joshi', 'data': 'piece of information ', 'greeting': 'heloo there how are you ', 'age': 'age is just a number', 'dict': 'combination of key valupe pairs'}

In [9]:
b.update(a)
print(b)

{'age': 'age is just a number', 'dict': 'combination of key valupe pairs', 'keys': 'values', 'name': 'mohit joshi', 'data': 'piece of information ', 'greeting': 'heloo there how are you '}

In [10]:
print(a)

{'keys': 'values', 'name': 'mohit joshi', 'data': 'piece of information ', 'greeting': 'heloo there how are you ', 'age': 'age is just a number', 'dict': 'combination of key valupe pairs'}

In [11]:
# creating list from dict
c=list(a)
print(c)

['keys', 'name', 'data', 'greeting', 'age', 'dict']

In [12]:
print(type(c))

<class 'list'>

In [13]:
print(type(a))

<class 'dict'>

**Creating** **Sets**

In [14]:

# creating sets

#  sets are mutable
a=set()
print(type(a))
a.add(23)
a.add(65)
a.add(5)
print(a)

<class 'set'>
{65, 5, 23}

In [15]:
# sets dont repeat the same values again and again
a={1,2,3,4,6,67,3,2,5,4,65,1,24,2}
print(a)

{1, 2, 67, 3, 4, 6, 5, 65, 24}

In [16]:
len(a)

9

In [17]:
# removing 3 from the existing set
a.remove(3)

In [18]:
print(a)

{1, 2, 67, 4, 6, 5, 65, 24}

In [19]:
# clear all the elements from the set

a.clear()

In [20]:
print(a)

set()

In [21]:
# insering values inside the set

a.add(1)
a.add(2)
a.add(3)
a.add(4)
a.add(5)
a.add(6)
a.add(7)
a.add(7)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [22]:
print(a.union({1,2}))
print(a.intersection({2,3}))

{1, 2, 3, 4, 5, 6, 7}
{2, 3}

In [23]:
a={1,2,3,4,5}
b={2,3,4,5,6}
union=a.union(b) # union of a and b
print("union of a and b",union)

inter=a.intersection(b) # intersection of a and b
print("intersection of a and b",inter)

union of a and b {1, 2, 3, 4, 5, 6}
intersection of a and b {2, 3, 4, 5}

**Practice** **Set**

In [24]:
# dictionary that translate hindi word into english

a={"kitab":"books",
  "gulab":"rose",
  "khana":"food",
  "takiya":"pillow",
  "lota":"mug",
  "pyar":"Love"}
print(a.keys())
c=input("enter a values which is given in the above list \n:")
c=c.lower()
print("meaning of your word is : ")
print(a.get(c))

dict_keys(['kitab', 'gulab', 'khana', 'takiya', 'lota', 'pyar'])
enter a values which is given in the above list
:kitab
meaning of your word is :
books

In [25]:
# taking input from user and update the value in a set

a1=int(input("enter 1 number"))
a2=int(input("enter 2 number"))
a3=int(input("enter 3 number"))
a4=int(input("enter 4 number"))
a5=int(input("enter 5 number"))
a6=int(input("enter 6 number"))
a7=int(input("enter 7 number"))
a8=int(input("enter 8 number"))
s={a1,a2,a3,a4,a5,a6,a7,a8}
print(s)

enter 1 number34
enter 2 number23
enter 3 number22
enter 4 number12
enter 5 number23
enter 6 number43
enter 7 number54
enter 8 number34
{34, 43, 12, 22, 23, 54}

In [26]:
# creating the same logic using for loop to make our work easy

x=set()
a,b,c,d,e=int(input("enter a number")),int(input("enter a number")),int(input("enter a number")),int(input("enter a number")),int(input("enter a number"))
for i in  a,b,c,d,e:
  x.add(i)
print(x)

enter a number5
enter a number4
enter a number33
enter a number4
enter a number5
{33, 4, 5}

In [27]:
# set only contain unique elemet but  20 and 20.0 are same so in set it will be written only one time


s=set()
s.add(20)
s.add("20")
s.add(20.0)
print(s)

{'20', 20}

In [28]:
# creating a dict which contain fav language

a={}
a1=input("enter your favorite languege frnd 1 :")
a2=input("enter your favorite languege  frnd 2:")
a3=input("enter your favorite languege frnd 3:")
a4=input("enter your favorite languege frnd 4 :")
a["devang"]=a1
a["teju"]=a2
a["twinkle"]=a3
a["baby"]=a4
print(a)

enter your favorite languege frnd 1 :python
enter your favorite languege  frnd 2:c++
enter your favorite languege frnd 3:java
enter your favorite languege frnd 4 :c
{'devang': 'python', 'teju': 'c++', 'twinkle': 'java', 'baby': 'c'}

**Practice for If else questions**

In [29]:
# using if, else and elif creating biggest number out of 4

try:
  a=int(input("enter a number :"))
  b=int(input("enter another number :"))
  c=int(input("enter another number :"))
  d=int(input("enter another number :"))
  if a>b and b>c and c>d:
    print(f"Biggest number is {a}")
  elif b>a and b>c and b>d:
    print(f"Biggest number is {b}")
  elif c>a and c>b and c>d:
    print(f"Biggest number is {c}")
  elif d>a and d>b and d>c:
    print(f"Biggest number is {d}")
except:
  print("pls enter correctly ")

enter a number :34
enter another number :43
enter another number :45
enter another number :54
Biggest number is 54

In [30]:
# finding average numbers


a=int(input("enter your marks :"))
b=int(input("enter another marks :"))
c=int(input("enter another marks :"))
d=(a+b+c)/3
print(d)
if a>100 and b>100 and c>100 :
  print("error input")
if(d<33):
  print(f"you are fail {d}")
elif(40>=d>=33):
  print(f"you are just passed {d}")
elif(60>=d>=41):
  print(f"you got avg percentage {d} keep it up ")
elif(80>=d>=61):
  print(f"you got good percentage {d} keep it up ")
elif(90>=d>=81):
  print(f"you got excellent percentage {d} keep it up ")
elif(100>=d>=91):
  print(f"you are breliint student good you got  {d} percentage ")
else:
  print("write your number out of hundred ")

enter your marks :54
enter another marks :45
enter another marks :54
51.0
you got avg percentage 51.0 keep it up

In [37]:
a=(input("enter your 10 digit phone number: "))
b=len(a)
if (b<10):
  print("check your used id it must contain 10 digit ")
elif(b>10):
  print("check your used id it only contain 10 digit ")
else:
  print("welcome")

enter your 10 digit phone number: 9717795531
welcome

In [32]:
a=[2,3,4,5,6,7,8,9,8,87,655,453,23,23,14,64,75,75,78]
b= int(input("enter a number :"))
if (b in a):
  print("hureyyy ")
else:
 print("idk")

enter a number :23
hureyyy

**For loop Practice**

In [33]:
# print the table
a=int(input("enter a number:"))
for i in range(1,11):
  c=a*i
  print(f"{a} X {i} = {c}")

enter a number:2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [34]:
a=["harsh","twinkle","mohit","happy",'ayush']
for name in a:
  if name.startswith("t"):
    print("hello " + name)

hello twinkle

In [35]:
# multiplication table for any number using while loop
a=int(input("enter a number"))
i=1
while i<11:
  print(f"{a} X {i} = {i*a}")
  i=i+1

enter a number3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30